body {
  background: #efefef;
}

.left {
  margin: 25% auto;
  position: relative;
}

.prompt {
  font-style: italic;
}

.left input{
  width: 100%;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  background: transparent;
}

.left img {
  margin: 15% auto;
  height: 100%;
  width: 80%;
}

.submit-btn {
  color: white !important;
}

.submit-btn:hover {
  cursor: pointer;
}

.ebay-items {
  margin: 50px auto;
  height: 90vh;
  overflow: scroll;
}

.total-results {
  padding: 15px 0px;
}

.total-results a {
  float: right;
}
